body {
    background-color: lightskyblue;
}

#titleContainer {
    text-align: center;
}

#optionsContainer {
    text-align: center;
}

#title h1 {
    font-family: "century gothic", sans-serif;
    font-size: 50px;
}

#game {
    background-color: white;
    margin: 30px 15%;
    border: 7px solid black;
    overflow: hidden;
}

#gameTable td {
    padding: 5px;
    text-align: center;
    width: 30%;
}

#gameTable {
    width: 100%;
    font-family: arial, sans-serif;
    font-size: 20px;
}

td.incorrect {
    color: red;
}

td.correct {
    color: green;
}

